<!--トップページ-->
<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">  <!--Micropost 用のフォーム-->
    <%= form_for(@micropost) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
  <div class="col-xs-8"> <!--_microposts.html.erbをrenderで読み込む-->
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
</div>
<% else %>
<!--　=> class属性にcontainerを指定した要素の内側にジャンボトロンを配置すると角が丸くなる-->
<!--ユーザ登録リンクを作成　=> Sing up now!　というボタンを付けます。-->
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>